<a href="https://colab.research.google.com/github/Frost270/Python/blob/main/Python/Number_Table(For_loop_(Basic)).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Number Table using for loop

In [21]:
n=7
for i in range(1,11): #to print from 1 to 10 eg 7*1=7
  print("{} x {} = {}".format(n,i,n*i) )

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70